@import 'tailwindcss';

@theme {
  --color-gray-50: #f5f6f8;
  --color-yellow-500: #ff6600;
  --color-sky-950: #1e2939;
  --radius-3xl: 20px;
  --font-display:
    Pretendard, sans-serif, -apple-system, BlinkMacSystemFont, Basier Square, Apple SD Gothic Neo, Roboto, Noto Sans KR,
    Noto Sans, Helvetica Neue, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #7878784d;
    border-radius: 8px;
    background-clip: padding-box;
  }

  html::-webkit-scrollbar-track {
    background-color: transparent;
  }

  body {
    word-break: keep-all;
    font-family: var(--font-display);
  }
}
