// font size
$font-size-3xl: 64px;
$font-size-2xl: 56px;
$font-size-xl: 48px;
$font-size-lg: 40px;
$font-size-md: 32px;
$font-size-base: 22px;
$font-size-sm: 18px;
$font-size-xs: 14px;

// font weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;