name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NEXT_PUBLIC_HOST_API: ${{ secrets.HOST_API }}
      NEXT_PUBLIC_RESUME_URL: ${{ secrets.RESUME_URL }}
      NEXT_PUBLIC_GITHUB_URL: ${{ secrets._GITHUB_URL }}
      NEXT_PUBLIC_BLOG_URL: ${{ secrets.BLOG_URL }}
      NEXT_PUBLIC_SITE_URL: ${{ secrets.SITE_URL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # install pnpm
      - name: Install pnpm
        run: |
          npm install -g pnpm@latest

      # install & build
      - name: Install and Build
        run: |
          pnpm install
          pnpm run build

      # create .nojekyll and CNAME
      - name: Next.js SSG Env Setting
        run: |
          touch ./out/.nojekyll
          echo 'dango0812.github.io' > ./out/CNAME

      # deploy & use github-pages-deploy action ( gh-pages )
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: release
          folder: out
          clean: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
