$top-right: 5rem;
$top-left: 30rem;

.decoration {
    position: absolute;

    &.right {
        top: $top-right;
        right: 0;
    }

    &.left {
        top: $top-left;
        left: 0;
    }
}